{% extends 'store/base.html' %}

{% block content %}

<h3>In this page there are some info about creators of this web service</h3>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>
<p>Some important info...</p>

{% endblock content %}