{% extends 'store/base.html' %}

{% block content %}

<h2>This information is temp used</h2>

<div>
    <h2 align="center">{{information.product_name}}</h2>
    {% if information.product_image %}
    <img class="image-left-side" src="{{information.product_image.url}}" alt="">
    {% endif %}
    <div class="content">
        <div class="text">
            {{information.product_content|linebreaks}}
        </div>
        <p>
            USD ${{information.product_price}}
            <span class="button-link">
                        <a href="{{information.get_absolute_url}}">Learn more</a> >
                    </span>
        </p>
        <a href="#" class="button">Buy Now</a>
    </div>
</div>


{% endblock %}