{% extends 'store/base.html' %}
{% load store_tags %}
{% block content %}

<body class="information-body">
<h1>{{information.product_name}}</h1>
<div class="information-flex">
    <div>
        {% if information.product_image %}
        <img class="information-image" src="{{information.product_image.url}}">
        {% endif %}
    </div>
    <div>
        {{ information.product_characteristics|markdown}}
        <div class="price">
            <div>
                USD ${{information.product_price}}
            </div>
            <form action="{% url 'cart:cart_add' information.id %}" method="post">
                {% csrf_token %}
                {{cart_product_form.update}}
                <div class="quantity-index">{{cart_product_form.quantity}}</div>
                <input type="submit" class="button" value="Buy Now">
            </form>
        </div>
    </div>
</div>
</body>

{% endblock %}