{% extends 'store/base.html' %}
{% load store_tags %}
{% block content %}

<!--For normal text-->

<body class="information-body">
<h1>{{information.product_name}}</h1>
<div class="information-flex">
    <div>
        {% if information.product_image %}
        <img class="information-image" src="{{information.product_image.url}}">
        {% endif %}
    </div>
    <div>
        {{ information.product_characteristics|markdown}}
        <div class="price">
            <div>
                USD ${{information.product_price}}
            </div>
            <a href="#" class="button">Buy Now</a>
        </div>
    </div>
</div>
</body>

{% endblock %}