{% extends 'store/base.html' %}

{% block content %}

<h2>Contact Us</h2>
<p>Mobile phone: +1 123 456 7890</p>
<p>Email: testfordjiwebsite@gmail.com</p>

<div class="container">
    <form action="{% url 'support' %}" method="post">
        {% csrf_token %}
        {% for f in form %}
        <div class="row">
            <div class="col-25">
                <label for="{{f.id_for_label}}">{{f.label}}</label>
            </div>
            <div class="col-75">
                {{f}}
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <button type="submit">Send</button>
        </div>
    </form>
</div>

{% endblock content %}