.page {
    background: none;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
}

.container-login {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}

.left {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 60%;
}

.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}

.eula {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}

.right {
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    color: #F1F1F2;
    position: relative;
    width: 60%;
    height: 110%;
}

.form {
    margin: 40px;
    position: absolute;
}

.form label {
    color: #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.form input {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}

.form input::-moz-focus-inner {
    border: 0;
}

.form #submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
}

.form #submit:focus {
    color: #f2f2f2;
}

.form #submit:active {
    color: #d0d0d2;
}
