html, body {
    height: 100%;
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.right-side {
    float: right;
}

.navigation{
    display: block;
    font-family: sans-serif;
    color: #3c4043;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation:hover {
    background-color: #f5f5f5;
}

.navbar .logo {
    width: 20%;
    height: 20%;
    padding: 5px 10px;
    float: left;
}

.navbar .left-side {
    float: left;
}

.main {
    padding: 16px;
    margin-top: 30px;
    font-family: sans-serif;
    flex: 1 1 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.drone-main-image {
    width: 70%;
    height: 70%;
    display: block;
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 14px 14px;
    background-color: #323435;
    color: white;
    overflow: hidden;
    text-decoration: none;
    border-radius: 3px;
}

.button:hover {
    background-color: #4c4f51;
}

.button-link {
    color: #1890ff;
    padding-right: 10px;
    float: right;
}

.button-link a {
    color: #1890ff;
    text-decoration: none;
}

.button-link a:hover {
    text-decoration: underline;
}

.image-left-side {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

.non-bullet {
    list-style-type: none;
}

.cards-grid {
    margin-top: 30px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 440px);
    grid-auto-rows: 560px;
}

.content {
    margin: 50px
}

.content .text {
    text-align: center;
}

.footer {
    /*padding-top: 100px;*/
    text-align: center;
    padding: 30px;
    /*margin-top: 30px;*/
    font-family: sans-serif;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.container label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container button[type=text], select, textarea {
    width: 97.6%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: sans-serif;
}

.container button[type=submit] {
    background-color: #2c9cff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.container button[type=submit]:hover {
    background-color: #53b8ff;
}

.select-form {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, button[type=submit] {
        width: 98%;
        margin-top: 0;
    }
}

.information-flex {
    display: flex;
    width: 1200px;
    margin: auto;
}

.information-image {
    float: left;
    width: 90%;
    height: 90%;
}

.information-flex .price {
    margin-left: 30px;
}

.information-body {
    margin-top: 50px;
}
