{% extends "store/base.html" %}
{% load static %}

{% block content %}

{% if not cart %}
<h1 align="center" style="margin-top: 10%;">Your cart is empty</h1>
<img src="{% static 'store/images/empty-cart.png' %}" style="width: 15%; display: block; margin: 5% auto 0;">
{% else %}
<h1>Product Cart</h1>
<table class="cart">
    <thead>
    <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Refresh</th>
        <th>Delete</th>
        <th>Count</th>
        <th>Price per quantity</th>
        <th>Total price</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
    {% with product=item.product %}
    <tr>
        <td>
            <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.product_image.url }}" class="image-left-side">
            </a>
        </td>
        <td class="cart-padding">{{ product.product_name }}</td>
        <td class="cart-padding">
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Refresh">
                {% csrf_token %}
            </form>
        </td>
        <td class="cart-padding">
              <span class="button-link">
                <a href="{% url 'cart:cart_remove' product.id %}">Delete</a>
              </span>
        </td>
        <td class="cart-padding">
            {{ item.quantity }}
        </td>
        <td class="cart-padding">${{ item.price }}</td>
        <td class="cart-padding">${{ item.total_price }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
    </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url 'home' %}" class="button">Back to Store</a>
    <a href="{% url 'cart:cart_order' %}" class="button">Order Now</a>
</p>
{% endif %}
{% endblock %}