{% extends "store/base.html" %}
{% load static %}

{% block content %}
<script src="{% static 'store/js/phoneinput.js' %}"></script>

<div class="container" style="margin-top: 11%;
                              margin-left: 10%;
                              margin-right: 10%;">
    <form action="{% url 'cart:cart_order' %}" method="post">
        {% csrf_token %}
        {% for f in form %}
        <div class="row">
            <div class="col-25" style="width: 12%">
                <label for="{{f.id_for_label}}">{{f.label}}</label>
            </div>
            {% if f.id_for_label == "id_phone"%}
            <div class="col-75" id="data-tel-input" style="padding: 12px 12px 12px 0;">{{f}}</div>
            {% else %}
            <div class="col-75" style="padding: 8px 12px 12px 0;">{{f}}</div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="row">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<!--<input type="tel" id="data-tel-input" placeholder="Phone" maxlength="19"/>-->

{% endblock %}
